a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
ul li {
  list-style: none;
}
button,
input,
select {
  outline: none;
}
button {
  border: none;
}
.fixed {
  position: fixed;
}
.el-header {
  width: 100%;
  min-width: 1200px;
}
.el-header {
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-main {
  width: 1200px;
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0;
  color: #333;
  text-align: center;
}
.el-container {
  margin: 0 auto;
  background: none;
}

body > .el-container {
  margin-bottom: 40px;
}