.el-header, .el-footer {
  height: 70px !important;
  margin-bottom: 30px;
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 70px;
}

.el-main {
  width: 1200px;
  max-width: 1200px !important;
  margin: 0 auto;
  color: #333;
  text-align: center;
}
.el-container {
  background: none;
}

body > .el-container {
  margin-bottom: 40px;
}

.banner-img {
  height: 480px;
  border-radius: 8px;
}