.el-header, .el-footer {
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-main {
  height: auto;
  margin-top: 30px;
  color: #333;
  text-align: center;
}

body > .el-container {
  margin-bottom: 40px;
}

.banner-img {
  height: 480px;
  border-radius: 8px;
}